@use '../partials/variables' as *;

@media (max-width: 2500px) {
    #light-dark {
        transform: translateX(250rem);
    }
}
@media (max-width: 1440px) {
    .nav-list {
        margin-left: 2rem;
    }
}
@media (max-width: 1024px) {
    .nav-list {
        margin-left: 15rem;
    }

}
@media (max-width: 768px) {
    .nav-list {
        margin-left: 10rem;
    }

}
@media (max-width: 425px) {
    .nav-list {
        margin-left: 2rem;
    }
}
@media (max-width: 375px) {
}