@use '../partials/variables' as *;
@media (max-width: 1600px) {}
@media (max-width: 1440px) {
    .nav-list {
        margin-left: 2rem;
    }
}
@media (max-width: 1024px) {
    .nav-list {
        margin-left: 15rem;
    }
    .about-me {
        padding-top: 5rem;
    }
    .planetary-img-container {
        padding-top: 5rem;
    }
}
@media (max-width: 768px) {
    .nav-list {
        margin-left: 10rem;
    }

}
@media (max-width: 425px) {
    .nav-list {
        margin-left: 2rem;
    }
    .rosy-container {
        margin-left: 1rem;
    }
    .rosy-img {
        padding-top: 4rem;
        margin-bottom: 4rem;
        margin-left: 2.5rem;
    }
    .kids-intro-img {
        margin-left: 2.5rem;
    }
    .kids-intro {
        padding-top: 10rem;
        padding-left: 3rem;
    }
    
    
}
@media (max-width: 375px) {

}