@use '../partials/variables' as *;

@media (max-width: 1024px) {
    // Positioning for 1024
    .about-rosy, .about-me, .kids-container {
        margin-right: 3rem;
    }
    .rosy-container {
        margin-top: 8rem;
    }
    
    .theseus-section {
        h4{
            margin-right: 2rem;
            margin-bottom: 2rem;
        }
        p {
            margin-top: 2rem;
        }
    }
    .ivana-section {
        margin-top: 1.5rem;
        h4 {
            margin-bottom: 2rem;
            margin-right: 1.5rem;
        }
        p {
            margin-top: 2rem;
        }
    }
    .nevaeh-section {
        h4 {
            margin-bottom: 2rem;
            margin-right: -5rem;
        }
        p {
            margin-top: 2rem;
        }
    }
    .overlay-nevaeh {
        padding-right: 2rem;
        padding-left: 8rem !important;
        p {
            padding-left: 12rem;
            padding-right: 19rem;
        }
    }
    // Img sizing for 1024
    .kids-intro {
        padding: 6rem;
    }

    .kids-group-img {
        width: 50rem;  height: 30rem;
    }
    .nevaeh-img {
        margin-left: 20rem;
    }
}