@use '../partials/variables' as *;

@media (max-width: 1440px) {
    .about-me {
        margin-left: 3rem;
    }
    .kids-sections {
        margin-left: 5rem;
    }
    .ivana-section {
        margin-left: 3rem;
    }
    .kids-container {
        margin-right: 1.5rem;
    }
}