@use '../partials/variables' as *;

@media (max-width: 1024px) {
    .about-rosy, .about-me, .kids-container {
        margin-right: 3rem;
    }
    .kids-sections {
        margin-left: 10rem;
        margin-top: 5rem;
        margin-bottom: $margins-bottom;
        transform: translateX(-2rem);
    }
    .ivana-section {
        margin-left: 2rem;
    }
}