@use '../partials/variables' as *;

.item:not(:first-child) {
opacity: 0;
transition: opacity 0.5s, transform 0.7s;
}

.left {
transform: translateX(-20%);
}

.right {
transform: translateX(20%);
}

.slide-in {
opacity: 1 !important;
transform: translateX(0);
}
