// Colors
$colors60: snow;
$colors30: #3cba88;
$color30-dim: #85dbb8;
$colors10: #fcccd7;
$color-lighter-black: #181818;
$color-p: #101010;
// Fonts
$font-h1: 6rem;
$font-h3: 4rem;
$font-h4: 3rem;
$font-paragraph: 1.5rem;
//Border-radius Paddings and Margins
$margins-top: 13px;
$margins-bottom: 1rem;
$margins-right: 13px;
$margins-left: 13px;
// Header Margins
$header-margin: 2rem;
$header-margins-top: 1.7rem;
$header-margins-bottom: 0.7rem;
$header-margins-right: 3rem;
$header-margins-left: 30rem;
$paragraph-margins-top: 30px;
$paragraph-margins-bottom: 30px;
$paragraph-margins-right: 50px;
$paragraph-margins-left: 50px;
$universal-border-radius: 0.6rem;
$secondary-border-radius: 50px;
$extra-border-radius: 50px;
// Images Dimensions
// family-img
$img-max-width: 20rem;
$img-max-height: 23rem;
$img-min-width: 20rem;
$img-min-height: 10rem;
// kids-group-img
$img-width: 30rem;
$img-height: 20rem;
// Buttons and Logos
$button-width: 8rem;
$button-height: 3rem;