@use '../partials/variables' as *;

// All Family Picture Styles
#family-img {
    width: $img-width; 
    height: $img-height;
}
#rosy-img {
        width: 20rem; height: 25rem;
        min-width: 10rem;
        max-width: 40rem;
}
.kids-group-img {
    width: 45rem;  height: 30rem;
    min-width: $img-min-width;
}









