@use '../partials/variables' as *;

// All Family Picture Styles
#family-img {
    width: $img-width; 
    height: $img-height;
}

#kids-group-img {
    width: 45rem; height: 30rem;
    max-width: $img-width;
    max-height: $img-height;
    min-width: $img-min-width;
    min-height: $img-min-height;
}

.rosy-img {
    margin-left: $margins-left;
    min-width: 40rem; height: 30rem;
}


.kids-intro-img {
    margin-left: 15rem;
}

.kids-intro {
    margin-bottom: 20rem;
}


