@use '../partials/variables' as *;

// All Family Picture Styles
#family-img {
    width: $img-width; 
    height: $img-height;
}
.rosy-img {
    img {
        width: 30rem !important; height: 35rem !important;
        min-width: 18rem; min-height: 20rem;
    }
}
.kids-group-img {
    width: 45rem;  height: 30rem;
    min-width: $img-min-width;
}









