@use '../partials/variables' as *;

.main-container {
    margin-top: 7%; // keeps them from being too high 
}
// About me
.about-me {
    margin-left: $margins-left;
}
.about-me-intro {
    padding-top: 15rem;
    padding-right: 2rem;
}
.planetary-img-container {
    margin-bottom: $margins-bottom;
    min-width: 20rem; 
    max-width: 40rem;
}
// About Rosy
.about-rosy {
    margin-bottom: $margins-bottom;
    // margin-right: $margins-right;
}
.rosy-img {
    margin-left: $margins-left;
}
// Kids Intro
.ivana-section {
    margin-left: 3rem;
}
.kids-intro {
    margin-bottom: $margins-bottom;
}
.kids-container {
    margin-bottom: $margins-bottom;
}
.kids-intro-img {
    margin-left: $margins-left;
}
.kids-group-img {
    width: 45rem;
    min-width: $img-min-width;
    min-height: $img-min-height;
}

// Kids Section

.kids-sections {
    margin-left: $margins-left;
    margin-top: 5rem;
    margin-bottom: $margins-bottom;
}





