@use '../partials/variables' as *;

.main-container {
    margin-top: 7%; // keeps them from being too high 
}
// About me
.about-me {
    margin-left: $margins-left;
    margin-bottom: $margins-bottom;
}
.about-me-intro {
    padding-top: 15rem;
    padding-right: 2rem;
}
.planetary-img-container {
    padding-left: 5rem;
    min-width: 25rem; 
    max-width: 50rem;
}
// About Rosy
.about-rosy {
    margin-bottom: $margins-bottom;
    // margin-right: $margins-right;
}
.rosy-img {
    margin-left: $margins-left;
}
.rosy-container {
    margin-right: 5rem;
}
// Kids Intro
.kids-container {
    margin-bottom: 25rem;
    margin-right: 5rem;
}
.kids-intro {
    margin-bottom: 10rem;
}

.kids-intro-img {
    margin-left: $margins-left;
}
.kids-group-img {
    width: 45rem;
    min-width: $img-min-width;
    min-height: $img-min-height;
}

// Kids Section

.kids-sections {
    margin-bottom: 20rem;
}


.theseus-section, .ivana-section, .nevaeh-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-left: 22rem;
    h4, p {
        padding-right: 3rem;
    }
}
.theseus-section {
    padding-left: 7rem;
    margin-top: 1.5rem;
}

.nevaeh-section {
    h4, p {
        padding-right: 7.6rem;
    }
}
.nevaeh-img {
    margin-right: 8rem;
}


